<!DOCTYPE html>
<html>
<head>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="{{ url_for('static', filename='geojson.js') }}"></script>
</head>
<body>
	<div style="float:left;width:100%;">
		<div id="googleMap" style="float:left;width:800px;height:600px;width:65%;"></div>
		<div style = "float:right;width:35%;">
			<div style = "line-height:10px;margin-left:20px;height:480px;line-height:17px;">
				<p id="start"></p>
				<p id="end"></p>
				<p id="SOURCE_BUS"></p>
				<p id="SOURCE_MRT"></p>
				<p id="TARGET_BUS"></p>
				<p id="TARGET_MRT"></p>
				<p id="rule1"></p>
				<p id="rule2"></p>
				<p id="rule3"></p>
				<p id="rule4"></p>
				<p id="rule5"></p>
			</div>
			<div style = "line-height:30px;text-align:center;height:120px;">
				<form id="form" method="POST">
					請輸入起點：<input type="text" name="欄位名稱" id= "input1"></br>
					請輸入終點：<input type="text" name="欄位名稱" id= "input2"></br>
					<button type="button" onclick="Go();" >傳送！</button>
				</form>
			</div>
			
		</div>
 </div>
</body>
</html>
